.popup__button-cross {
  background-image: url(../../../images/popupcross.svg);
  
  height: 49px;
  position: absolute;
  width: 50px;
  top: -40px;
  right: -40px;

  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
  outline: none;
}


