.popup__button-cross {
  background-image: url(../../../images/popupcross.svg);
  position: absolute;
  height: 49px;

  width: 50px;
  top: 17%;
  right: 32%;

  background-repeat: no-repeat;
  border: none;
  background-position: center;
  background-color: transparent;
}
@media screen and (max-width: 900px) {
  .popup__button-cross {
    right: 15%;
  }
}

@media screen and (max-width: 600px) {
  .popup__button-cross {
    right: -3px;
  }
}
