.elements__image {
  border-radius: 10px 10px 0px 0px;
  display: block;
  margin: 0;
}

@media screen and (max-width: 913px) {
  .elements__image {
    width: 250px;

  }
}

@media screen and (max-width: 770px) {
  .elements__image {
    width: 200px;
  }
}

@media screen and (max-width: 630px) {
  .elements__image {
    width: 282px;
  }
}
