.element__card {
  background-color: white;
  width: 282px;
  height: 72px;
  border-radius: 0 0 10px 10px;
  margin: 0;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

@media screen and (max-width: 913px) {
  .element__card {
    width: 250px;

  }
}

@media screen and (max-width: 780px) {
  .element__card {
    width: 200px;
  }
}
@media screen and (max-width: 630px) {
  .element__card {
    width: 282px;
  }
}
