

/* класс для спана */
.form__input-error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 35px 20px;
    color: #FF0000;
}


.form__input-error_active {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 5px 20px;
    color: #FF0000;
    width: 20px;
}