@import url(./__line/header__line.css);
@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;

  padding: 45px 0px 37px;
  margin: 0 auto;
}

@media screen and (max-width: 913px) {
  .header {
    width: 770px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 550px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38px;
    padding: 0;
    width: 315px;
  }
}
