.elements__button {
  margin-right: 15px;
  width: 25px;
  height: 20px;
  background-image: url(../../../images/heart.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.elements__button:hover {
  opacity: 0.2;
  cursor: pointer;
}
