.profile__addButton {
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: black;
  background-image: url(../../../images/addbutton.svg);
  border-radius: 2px;
  align-self: center;
  background-repeat: no-repeat;
}

.profile__addButton:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background-image: url(../../../images/addbuttonhover.svg);
}

@media screen and (max-width: 800px) {
  .profile__addButton {
    height: 40px;
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .profile__addButton {
    width: 282px;
    margin: 36px 0;
    height: 50px;
  }
}
