.elements__like-count {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15,73px;
    margin: 0;
    padding-left: 9px;
}