.elements__item {
  list-style-type: none;
  align-items: center;
  min-height: 300px;
}

@media screen and (max-width: 780px) {
  .elements__item {
    margin: 0;
  }
}
@media screen and (max-width: 630px) {
  .elements__item {
    margin: 0 auto;
  }
}
